body{
    text-align: center;
}

.box{
    border: 3px solid black;
    border-radius: 30px;
    background-color: yellowgreen;
    height: 50vh;
    width: 300px;
    margin: auto;
}
button{
    border-radius: 20px;
    border-color: aliceblue;
    background-color: color-mix(in xyz-d50,rgb(46, 17, 6) 30%, rgb(131, 131, 209) 40%);
    padding: 10px;
    margin-top: 10px;
}